<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          type="text/css" rel="stylesheet">
    <link th:href="@{/static/css/styles.css}" rel="stylesheet" type="text/css">
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"
        rel="stylesheet" type="text/css">
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script th:src="@{/static/js/datepicker-script.js}"></script>
    <script th:src="@{/static/js/fileCheck.js}"></script>
    <script th:src="@{/static/js/valid.js}"></script>
    <script th:src="@{/static/js/changeToBrowse.js}"></script>
    <title>Create New Ticket</title>
</head>

<body ng-app="app" ng-controller="createTicketCtrl">
<div class="form-inline">
    <input type="button" value="Ticket overview" class="btn btn-back" onclick="history.back()">
    <h1 style="margin-left: 100px; display: inline-block;">Create New Ticket</h1>
</div>
<div class="container content">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="ticketCategory"
                   class="element-row col-md-2 control-label ">Category<span style="color:red">*</span></label>
            <div class="col-md-10">
                <select class="element-row form-control" ng-model="category" id="ticketCategory"
                        required>
                    <option ng-repeat="category in categories" value="{{category.id}}">
                        {{category.name}}
                    </option>
                </select>
            </div>
            <label for="ticketName" class="element-row col-md-2 control-label">Name<span style="color:red">*</span></label>
            <div class="col-md-10">
                <input type="text" ng-model="name" maxlength="100" class="element-row form-control"
                       id="ticketName" required>
            </div>
            <label for="ticketDescription"
                   class="element-row col-md-2 control-label">Description</label>
            <div class="col-md-10">
                <textarea class="element-row form-control" maxlength="500" ng-model="description"
                          id="ticketDescription" rows="3"></textarea>
            </div>

            <label for="ticketUrgency" class="element-row col-md-2 control-label">Urgency<span style="color:red">*</span></label>
            <div class="col-md-10">
                <select class="element-row form-control" ng-model="urgency" name="urgency"
                        id="ticketUrgency">
                    <option selected value="LOW">Low</option>
                    <option value="MEDIUM">Medium</option>
                    <option value="HIGH">High</option>
                    <option value="CRITICAL">Critical</option>
                </select>
            </div>

            <label class="element-row col-md-2 control-label" for="date">Date</label>
            <div class="element-row col-md-10">
                <input class="form-control" id="date" name="date" ng-model="date"
                       placeholder="MM/DD/YYYY" type="text">
            </div>
            <label class="col-md-2 control-label element-row" for="file">Add attachments</label>
            <div class="col-md-10 element-row">
                <div class="form-inline">
                    <input type="file" class="form-control" id="file" ng-model="file" name="file"
                           multiple onchange="updateSize();" style="display: none"
                           accept=".pdf,.jpeg,.jpg,.doc,.docx,.png"/>
                    <input type="button" value="Browse" id="fakeBrowse" onclick="handleBrowseClick();"/>
                </div>
                <br>
                <div class="files">
                </div>
            </div>
            <label class="col-md-2 control-label element-row" for="comment">Comment</label>
            <div class="col-md-10 element-row">
                <textarea class="form-control" id="comment" ng-model="comment" maxlength="500"
                          rows="3"></textarea>
            </div>
        </div>
        <p id="error"></p>
        <p ng-show="error=='true'">The size of attached file should not be greater than 5 Mb. Please
            select another file.</p>
        <div class="form-inline" style="float: right;">
            <input type="submit" id="saveDraft" ng-click="saveDraftTicket()" name="draft"
                   class="btn-draft btn btn-primary" value="Save as Draft">
            <input type="submit" id="saveNew" ng-click="saveNewTicket()" name="new"
                   class="btn-submit btn btn-primary" value="Submit">
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script th:src="@{/static/js/app.js}"></script>
<script th:src="@{/static/js/services/ticketsService.js}"></script>
<script th:src="@{/static/js/controllers/createTicketsController.js}"></script>
</body>
</html>