<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          type="text/css" rel="stylesheet">
    <link th:href="@{/static/css/login.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="parent">
    <div class="block">
        <form class="form-horizontal" th:action="@{/login}" th:method="post">
            <h2 style="padding-left:40px;padding-bottom:20px;">Login to the Help Desk</h2>
            <div class="form-group">
                <label for="email" class="col-md-2 control-label">Email</label>
                <div class="col-md-10">
                    <input type="email" class="form-control" id="email" name="email" required
                           placeholder="Email" pattern="^[^.@].*[^.@]$">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-2 control-label">Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="password" name="password"
                           required placeholder="Password"
                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[~.\x22(),:;<>@!#$%&'*+-=?^_`{|}])[A-Za-z\d~.\x22(),:;<>@!#$%&'*+-=?^_`{|}]{6,20}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <p th:text="${error}"></p>
                </div>
            </div>
            <div class="form-group" align="right">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Enter</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>