<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          type="text/css" rel="stylesheet">
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <link th:href="@{/static/css/styles.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/static/js/valid.js}"></script>
</head>
<body ng-app="app" ng-controller="TicketOverviewCtrl">
<div class="container">
    <div class="form-inline" style="margin-top:50px">
        <input type="button" value="Ticked list" class="btn btn-back col-md-1" ng-click="goBack()">
        <h1 class="col-md-11">
            Ticket ({{ticket.id}}) - {{ticket.name}}
        </h1>
    </div>
</div>
<div class="overview-container container" style="font-size:14px">
    <div class="col-md-5 col-md-offset-1">
        <label for="category" class="col-md-6 control-label">Category:</label>
        <p id="category" class="col-md-6">{{ticket.category.name}}</p>
        <label for="createdOn" class="col-md-6 control-label">Created on:</label>
        <p id="createdOn" class="col-md-6">{{ticket.createdOn|date:'dd/MM/yyyy'}}</p>
        <label for="status" class="col-md-6 control-label">Status:</label>
        <p id="status" class="col-md-6">{{ticket.state}}</p>
        <label for="urgency" class="col-md-6 control-label">Urgency:</label>
        <p id="urgency" class="col-md-6">{{ticket.urgency}}</p>
        <label for="desiredDate" class="col-md-6 control-label">Desired resolution day:</label>
        <p id="desiredDate" class="col-md-6">{{ticket.desiredResolutionDate| date:'dd/MM/yyyy'}}</p>
        <label for="owner" class="col-md-6 control-label">Owner:</label>
        <p id="owner" class="col-md-6">{{ticket.owner.firstName}} {{ticket.owner.lastName}}</p>
        <label for="approver" class="col-md-6 control-label">Approver:</label>
        <p id="approver" class="col-md-6">{{ticket.approver.firstName}}
            {{ticket.approver.lastName}}</p>
        <label for="assignee" class="col-md-6 control-label">Assignee:</label>
        <p id="assignee" class="col-md-6">{{ticket.assignee.firstName}}
            {{ticket.assignee.lastName}}</p>
        <label for="attachment" class="col-md-6 control-label">Attachments:</label>
        <div class="col-md-6">
            <p id="attachment" ng-if="attachments.length!=0" ng-repeat="attachment in attachments">
                <a href="/attachment/download/{{attachment.id}}">{{attachment.name}}</a>
            </p>
            <p ng-if="attachments.length==0">-</p>
        </div>
        <label for="description" class="col-md-6 control-label">Description:</label>
        <p id="description" class="col-md-6">{{ticket.description}}</p>
    </div>
    <div class="col-md-3 col-md-offset-3 form-inline">

        <input type="submit" ng-click="editTicket()"
               class="btn btn-primary btn-overview"
               value="Edit"
               ng-disabled="!(((ticket.state=='Draft')||(ticket.state=='Declined'))&&(ticket.owner.id==user.id))">

        <div ng-show="(ticket.state=='Done')&&(feedback==null)&&(ticket.owner.id==user.id)">

            <input type="submit" class="btn btn-primary btn-overview"
                   value="Leave Feedback" ng-click="leaveFeedback()">
        </div>
        <div ng-show="(ticket.state=='Done')&&(feedback!=null)">
            <input type="submit" class="btn btn-primary  btn-overview"
                   value="Feedback" ng-click="viewFeedback()">
        </div>
    </div>
</div>
<div class="container">
    <ul class="nav nav-pills nav-justified clear">
        <li class="active element-tab"><a data-toggle="pill" href="#history">History</a>
        <li class="element-tab"><a data-toggle="pill" href="#comments">Comments</a>
    </ul>
    <div class="tab-content">
        <div id="history" class="tab-pane fade in active">
            <a href="" ng-click="showHistory()" class="href-show-all">Show all</a>
            <table class="table table-bordered table-striped table-hover">
                <thead style="background-color: lightgray">
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Action</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="history in histories" ng-show="history.sortId<5||showAllHistory">
                    <td>{{history.date| date:'MMM dd, yyyy HH:mm:ss'}}</td>
                    <td>{{history.userFirstName}} {{history.userLastName}}</td>
                    <td>{{history.action}}</td>
                    <td>{{history.description}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="comments" class="tab-pane fade">
            <a href="" ng-click="showComments()" class="href-show-all">Show all</a>
            <table class="table table-bordered table-striped table-hover">
                <thead style="background-color: lightgray">
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="comment in comments" ng-show="comment.sortId<5||showAllComments">
                    <td class="col-md-3">{{comment.date| date:'MMM dd, yyyy HH:mm:ss'}}</td>
                    <td class="col-md-3">{{comment.user.firstName}} {{comment.user.lastName}}</td>
                    <td class="col-md-6">{{comment.text}}</td>
                </tr>
                </tbody>
            </table>
            <form>
                <div class="row">
                    <div class="col-md-8">
                        <textarea class="form-control" maxlength="500" ng-model="comment"
                                  id="comment" rows="3"
                                  required></textarea>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" ng-click="saveNewComment()"
                               class="btn btn-primary form-control btn-draft"
                               value="Add comment">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script th:src="@{/static/js/app.js}"></script>
<script th:src="@{/static/js/services/ticketsService.js}"></script>
<script th:src="@{/static/js/services/feedbackService.js}"></script>
<script th:src="@{/static/js/controllers/ticketsOverviewController.js}"></script>
</body>

</html>