<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          type="text/css" rel="stylesheet">
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link th:href="@{/static/css/styles.css}" rel="stylesheet" type="text/css">
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"
        rel="stylesheet" type="text/css">
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script th:src="@{/static/js/valid.js}"></script>
    <title>All tickets</title>
</head>
<body ng-app="app" ng-controller="TicketCtrl">
<form th:action="@{/logout}">
    <input type="submit" class="btn btn-back" value="Logout">
</form>
<div class="container content">
    <form th:action="@{/newticket}">
        <input ng-disabled="role=='ENGINEER'" type="submit"
               class="btn btn-primary btn-create-ticket" value="Create New Ticket">
    </form>
    <ul class="nav nav-pills nav-justified clear">
        <li class="active element-tab"><a data-toggle="pill" href="#allTickets">All Tickets</a>
        <li class="element-tab"><a data-toggle="pill" href="#myTickets">My Tickets</a>
    </ul>


    <form class="input-search">
        <div class="form-group">
            <div class="input-group" style="width:450px">
                <input id="search" style="border-radius: 10px;" type="text" class="form-control"
                       placeholder="Search in table"
                       ng-model="searchTicket" pattern="(?=.*[a-zA-Z][0-9])">
            </div>
        </div>
    </form>

    <div class="tab-content">
        <div id="allTickets" class="tab-pane fade in active">

            <div class="ticket-table">
                <table class="table table-bordered table-striped table-hover">
                    <thead style="background-color: lightgray;">
                    <tr>
                        <th>
                            <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse"
                               style="color:black">
                                ID
                                <span ng-show="sortType == 'id' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'id' && sortReverse"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse"
                               style="color:black">
                                Name
                                <span ng-show="sortType == 'name' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse"
                               style="color:black">
                                Desired Date
                                <span ng-show="sortType == 'date' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'date' && sortReverse"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'urgency'; sortReverse = !sortReverse"
                               style="color:black">
                                Urgency
                                <span ng-show="sortType == 'urgency' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'urgency' && sortReverse"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'state'; sortReverse = !sortReverse"
                               style="color:black">
                                Status
                                <span ng-show="sortType == 'state' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'state' && sortReverse"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ticket in allTickets| orderBy:sortType:sortReverse|filter:searchTicket">
                        <td>{{ticket.id}}</td>
                        <td><a th:href="@{overview/{{ticket.id}}}">{{ticket.name}}</a></td>
                        <td>{{ticket.desiredResolutionDate| date:'dd/MM/yyyy'}}</td>
                        <td>{{ticket.urgency}}</td>
                        <td>{{ticket.state}}</td>
                        <td>
                            <div class="dropdown" align="center">
                                <button class="btn btn-secondary dropdown-toggle btn-action"
                                        type="button" id="allTicketsDropdown"
                                        data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"
                                        ng-disabled="!(((ticket.state=='Draft')||(ticket.state=='Declined'))&&(role=='EMPLOYEE'))
										&&!(((ticket.state=='Draft')||(ticket.state=='Declined'))&&(role=='MANAGER')&&(ticket.owner.id==user.id))
                                        &&!((role=='MANAGER')&&(ticket.state=='New')&&(ticket.owner.id!=user.id))
                                        &&!(((ticket.state=='In progress')||(ticket.state=='Approved'))&&(role=='ENGINEER'))">
                                    Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="allTicketsDropdown">
                                    <p ng-show="((user.role='EMPLOYEE')||(user.role='MANAGER'))
                                    &&((ticket.state=='Draft')||(ticket.state=='Declined'))
                                    &&(ticket.owner.id==user.id)">
                                        <a class="dropdown-item" href=""
                                           ng-click="changeStatus(ticket.id, 'NEW')">Submit</a>
                                    </p>
                                    <p>
                                        <a class="dropdown-item" href=""
                                           ng-click="changeStatus(ticket.id, 'CANCELED')">Cancel</a>
                                    </p>
                                    <p ng-show="(ticket.state=='New')&&(role=='MANAGER')&&(ticket.owner.id!=user.id)">
                                        <a class="dropdown-item" href=""
                                           ng-click="changeStatus(ticket.id, 'APPROVED')">Approve</a>
                                    </p>
                                    <p ng-show="(ticket.owner.id!=user.id)&&(ticket.state=='New')&&(role=='MANAGER')">
                                        <a class="dropdown-item" href=""
                                           ng-click="changeStatus(ticket.id, 'DECLINED')">Decline</a>
                                    </p>
                                    <p ng-show="(role=='ENGINEER')&&(ticket.state=='Approved')">
                                        <a class="dropdown-item" href=""
                                           ng-click="changeStatus(ticket.id, 'IN_PROGRESS')">Assign
                                            to me</a>
                                    </p>
                                    <p ng-show="(role=='ENGINEER')&&(ticket.state=='In progress')">
                                        <a class="dropdown-item" href=""
                                           ng-click="changeStatus(ticket.id, 'DONE')">Done</a>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="myTickets" class="tab-pane fade">
            <div class="ticket-table">
                <table class="table table-bordered table-striped table-hover">
                    <thead style="background-color: lightgray">
                    <tr>
                        <th>
                            <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse"
                               style="color:black">
                                ID
                                <span ng-show="sortType == 'id' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'id' && sortReverse"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse"
                               style="color:black">
                                Name
                                <span ng-show="sortType == 'name' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse"
                               style="color:black">
                                Desired Date
                                <span ng-show="sortType == 'date' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'date' && sortReverse"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'urgency'; sortReverse = !sortReverse"
                               style="color:black">
                                Urgency
                                <span ng-show="sortType == 'urgency' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'urgency' && sortReverse"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'state'; sortReverse = !sortReverse"
                               style="color:black">
                                Status
                                <span ng-show="sortType == 'state' && !sortReverse"
                                      class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'state' && sortReverse"
                                      class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ticket in myTickets| orderBy:sortType:sortReverse|filter:searchTicket">
                        <td>{{ticket.id}}</td>
                        <td><a th:href="@{overview/{{ticket.id}}}">{{ticket.name}}</a></td>
                        <td>{{ticket.desiredResolutionDate| date:'dd/MM/yyyy'}}</td>
                        <td>{{ticket.urgency}}</td>
                        <td>{{ticket.state}}</td>
                        <td>
                            <div class="dropdown" align="center">
                                <button class="btn btn-secondary dropdown-toggle btn-action"
                                        type="button" id="myTicketsDropdown"
                                        data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"
                                        ng-disabled="!(((ticket.state=='Draft')||(ticket.state=='Declined'))&&(role=='EMPLOYEE'))
										&&!(((ticket.state=='Draft')||(ticket.state=='Declined'))&&(role=='MANAGER')&&(ticket.owner.id==user.id))
                                        &&!((role=='MANAGER')&&(ticket.state=='New')&&(ticket.owner.id!=user.id))
                                        &&!(((ticket.state=='In progress')||(ticket.state=='Approved'))&&(role=='ENGINEER'))">
                                    Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="myTicketsDropdown">
                                    <p ng-show="((user.role='EMPLOYEE')||(user.role='MANAGER'))
                                    &&((ticket.state=='Draft')||(ticket.state=='Declined'))
                                    &&(ticket.owner.id==user.id)">
                                        <a class="dropdown-item" href=""
                                           ng-click="changeStatus(ticket.id, 'NEW')">Submit</a>
                                    </p>
                                    <p>
                                        <a class="dropdown-item" href=""
                                           ng-click="changeStatus(ticket.id, 'CANCELED')">Cancel</a>
                                    </p>
                                    <p ng-show="(ticket.state=='New')&&(role=='MANAGER')&&(ticket.owner.id!=user.id)">
                                        <a class="dropdown-item" href=""
                                           ng-click="changeStatus(ticket.id, 'APPROVED')">Approve</a>
                                    </p>
                                    <p ng-show="(ticket.owner.id!=user.id)&&(ticket.state=='New')&&(role=='MANAGER')">
                                        <a class="dropdown-item" href=""
                                           ng-click="changeStatus(ticket.id, 'DECLINED')">Decline</a>
                                    </p>
                                    <p ng-show="(role=='ENGINEER')&&(ticket.state=='Approved')">
                                        <a class="dropdown-item" href=""
                                           ng-click="changeStatus(ticket.id, 'IN_PROGRESS')">Assign
                                            to me</a>
                                    </p>
                                    <p ng-show="(role=='ENGINEER')&&(ticket.state=='In progress')">
                                        <a class="dropdown-item" href=""
                                           ng-click="changeStatus(ticket.id, 'DONE')">Done</a>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
<script th:src="@{/static/js/app.js}"></script>
<script th:src="@{/static/js/services/ticketsService.js}"></script>
<script th:src="@{/static/js/controllers/ticketsController.js}"></script>
</body>
</html>