<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>View Feedback</title>
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          type="text/css" rel="stylesheet">
    <link th:href="@{/static/css/styles.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/static/css/feedback.css}" rel="stylesheet" type="text/css">
</head>
<body ng-app="app" ng-controller="ViewFeedbackCtrl">
<div class="form-inline" style="margin-top:50px; margin-left:20px;">
    <input type="button" value="Back" class="btn btn-back col-md-1" onclick="history.back()">

</div>
<div class="container container-feedback" align="left">
    <h1>Ticket ({{ticket.id}}) - {{ticket.name}}</h1>
    <h1 style="margin-top:80px">Feedback</h1>
    <div class="star-rating" style="padding-top:50px">
        <div class="star-rating__wrap">
            <input disabled ng-checked="feedback.rate==5" class="star-rating__input" id="5"
                   type="radio" name="rating" value="5">
            <label class="star-rating__ic fa fa-star-o fa-lg star-rating" for="5"
                   title="5 out of 5 stars"></label>
            <input disabled ng-checked="feedback.rate==4" class="star-rating__input" id="4"
                   type="radio" name="rating" value="4">
            <label class="star-rating__ic fa fa-star-o fa-lg star-rating" for="4"
                   title="4 out of 5 stars"></label>
            <input disabled ng-checked="feedback.rate==3" class="star-rating__input" id="3"
                   type="radio" name="rating" value="3">
            <label class="star-rating__ic fa fa-star-o fa-lg star-rating" for="3"
                   title="3 out of 5 stars"></label>
            <input disabled ng-checked="feedback.rate==2" class="star-rating__input" id="2"
                   type="radio" name="rating" value="2">
            <label class="star-rating__ic fa fa-star-o fa-lg star-rating" for="2"
                   title="2 out of 5 stars"></label>
            <input disabled ng-checked="feedback.rate==1" class="star-rating__input" id="1"
                   type="radio" name="rating" value="1">
            <label class="star-rating__ic fa fa-star-o fa-lg star-rating" for="1"
                   title="1 out of 5 stars"></label>
        </div>
    </div>
    <p>{{feedback.text}}</p>

</div>
<script>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script th:src="@{/static/js/app.js}"></script>
<script th:src="@{/static/js/services/ticketsService.js}"></script>
<script th:src="@{/static/js/services/feedbackService.js}"></script>
<script th:src="@{/static/js/controllers/viewFeedbackController.js}"></script>
</body>
</html>