.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 600px;
    height: 250px;
    position: absolute;
    top: 26%;
    left: 30%;

}