.btn-overview {
    background-color: #5ab95b;
    color: black;
    border: none;
    float: right;
    margin-bottom: 10px;
    width: 200px;
}
.fa{
    color:black;
}
.href-show-all {
    margin-top: 30px;
}

.element-row {
    margin-top: 20px;
}

.btn-back {
    background-color: #5ab95b;
    color: black;
}

.btn-submit {
    background-color: #5ab95b;
    color: black;
    border: none;
}

.btn-action {
    background-color: #5ab95b;
    color: white;
}

.btn-draft {
    margin-right: 40px;
    background-color: lightgray;
    color: black;
    border: none;
}

.btn-create-ticket {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 210px;
    height: 45px;
    background-color: #5ab95b;
    color: white;
    float: right;
    border: none;
    border-radius: 7px;
}

.content {
    max-width: 1000px;
}

.container-feedback {
    max-width: 800px;
}

.clear {
    clear: both;
}

.element-tab {
    border: 1px solid #0189c7;
    border-radius: 5px;
    border-spacing: 10px;
}

.table {
    margin-top: 40px;
}

.input-search {
    margin-top: 30px;
}

